
<div class="grid-container2">
    <h1 class="grid-item">Home Page!!!</h1>

<div class="container grid-item">
    <a href="/register">Register</a>
    <br>
    <a href="/login">Login</a>
</div>
</div>

