<div class="grid-container2">

    <div id="landingContainer" class="grid-item">

        <h1>Fitness-Tracker</h1>

        <p class="sessionDisplay">Please register, and get your fitness journey started today!</p>
        <a href="/register">Register</a>

        <p class="sessionDisplay">Already a member? Log in and let's kick some ass!</p>
        <a href="/login">Login</a>
    </div>
</div>