<div class="grid-container2">


    <div class="landingContainer grid-item">
        <form class="form" action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Login</button>
        </form>
        <a class="goBack" href="/">Go Back</a>
    </div>
</div>